*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding: 40px 0px;
}
.main {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.filterBox {
    flex-basis: 23%;
}

.Prdoucts{
    flex-basis: 75%;
}
