* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: #0a1d3c;
    --light-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #f9e3bc;
    --dark-gray: #3e3f43;
    --light-black: #1d1d1d;
}
@font-face {
    font-family: myfont;
    src: url(myfont/OFL.txt);
}
.navb {
    width: 100%;
}
.logo img{
    width: 80px;
    padding-left: 5px;
}

.logotext h2{
    font-family: "myfont";
    font-size: 17px;
    font-weight: bold;
    padding-left: 6px;
}
 
